:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #274c77;
    --foreground: #87cefa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 50px;
  text-align: center;
}

utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  color:deepskyblue;
  -webkit-text-stroke-color: blue;
  -webkit-text-stroke-width: .5px;
  padding: 20px;
  text-decoration: none;
}

a:hover{
  color:lightskyblue;
  text-decoration: underline;
}

p{
  padding: 15px;
}

form button{
  width: 50px;
  height: 25px;
  margin: 10px;
}

form label{
  padding: 10px;
}

form{
  margin-top: 50px;
}

button{
  width: 150px;
  height:50px;
  margin: 10px;
  background-color:lightskyblue;
  border-color: blue;
}

button:hover{
  color:blue;
  font-style: italic;
}

#viewCards{
  display: grid;
  position: absolute; 
  grid-template-columns: 200px 200px 200px 200px 200px;
  padding-left: 200px;
}
